.swiper-container.Swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }
  .swiper-container.Swiper .swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .swiper-container.Swiper .swiper-slide img {
      object-fit: cover;
      width: 100%;
      border-radius: 10px; }
    .swiper-container.Swiper .swiper-slide .container.btn {
      text-align: start; }
      .swiper-container.Swiper .swiper-slide .container.btn .comment span {
        margin-right: auto;
        font-size: 14px; }
      .swiper-container.Swiper .swiper-slide .container.btn .comment .starImg {
        width: 14px;
        height: 14px; }
      .swiper-container.Swiper .swiper-slide .container.btn .roomTitle {
        font-size: 16px; }
