@{
    Layout = "_LayoutNoContainer";
}
<div class="container">
    <img src="~/pic/404.png" alt="" class="w-100 pic">
    <img src="~/pic/404-1.png" alt="" class="w-100 pic_ph">
    <p class="text-center">
        The Page you are looking for doesn't exist or another error occurred.
        Go back, or head over to <a href="#">Airelax.com</a> to choose a new direction.
    </p>
</div>

@section topCSS{
    <link href="~/css/error/oops.css" rel="stylesheet"/>
}

@section Scripts{

}