* {
  font-family: "Noto Sans TC", sans-serif;
}

* a {
  color: #000;
  text-decoration: none;
}

* a:hover {
  color: #000;
}

* .eachRoom {
  padding: 10px;
}

* .eachRoom .col-12.col-md-5 .label {
  top: 38px;
  z-index: 10;
  padding: 0 10px;
}

* .eachRoom .col-12.col-md-5 .label .perfect {
  font-size: 12px;
  letter-spacing: 1px;
  color: #000;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 8px;
}

* .eachRoom .col-12.col-md-7 {
  font-weight: 300;
}

* .eachRoom .col-12.col-md-7 .row {
  text-align: start;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .comment .star {
  margin: auto 4px;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .comment .starScore,
* .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .comment .commentCount {
  font-size: 14px;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .comment .starScore {
  color: #000;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .comment .commentCount {
  color: #717374;
  margin-left: 1px;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .typeAddress,
* .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .mdTypeAddress {
  color: #000;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .title {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(2) {
  font-size: 15px;
  color: #717171;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(3) {
  color: #000;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .originAndSweet .sweetPrice,
* .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .originAndSweet .origin {
  font-weight: 700;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .originAndSweet .origin {
  color: #717176;
  text-decoration: line-through;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .total .totalLink,
* .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .total .mdTotalLink {
  font-size: 15px;
  text-decoration: underline;
  color: #717171;
}

* .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .total .totalLink:hover,
* .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .total .mdTotalLink:hover {
  -webkit-text-decoration: underline #000;
          text-decoration: underline #000;
}

@media screen and (min-width: 768px) {
  .eachRoom {
    border-top: 1px solid #ededed;
    margin-bottom: 20px;
    padding-right: 10px;
  }
  .eachRoom .col-12.col-md-5 .label .heart svg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px;
    fill: transparent;
    stroke: #000;
    stroke-width: 2;
    overflow: visible;
  }
  .eachRoom .col-12.col-md-5 .label .heart svg:hover {
    background-color: #efefef80;
  }
  .eachRoom .col-12.col-md-7 {
    padding-top: 30px;
  }
  .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .mdTypeAddress {
    font-size: 15px;
    color: #717171;
  }
  .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col.col-md-10 .title {
    font-size: 20px;
  }
  .eachRoom .col-12.col-md-7 .row:nth-of-type(1) .col-md-2 {
    padding: 0;
  }
  .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .total .mdComment {
    font-size: 12px;
  }
  .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .total .mdComment svg {
    height: 12px;
    width: 12px;
    fill: #ff385c;
    margin: auto 4px;
  }
  .eachRoom .col-12.col-md-7 .row:nth-of-type(3) .total .mdComment .commentCount {
    color: #717171;
  }
}
/*# sourceMappingURL=search.css.map */